USE [master]
GO
/****** Object:  Database [Cafe3]    Script Date: 22.05.2024 21:51:33 ******/
CREATE DATABASE [Cafe3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cafe3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cafe3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cafe3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cafe3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cafe3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cafe3]
GO
/****** Object:  Table [dbo].[satis]    Script Date: 22.05.2024 21:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satis](
	[idsatis] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](255) NULL,
	[kart_numarasi] [bigint] NULL,
	[son_tarih] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idsatis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[üyeler]    Script Date: 22.05.2024 21:51:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[üyeler](
	[idkullanici] [int] IDENTITY(1,1) NOT NULL,
	[kullanici] [nchar](20) NULL,
	[sifre] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idkullanici] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[satis] ON 

INSERT [dbo].[satis] ([idsatis], [ad], [kart_numarasi], [son_tarih]) VALUES (1, N'aa', 12345678901, CAST(N'2024-07-26' AS Date))
INSERT [dbo].[satis] ([idsatis], [ad], [kart_numarasi], [son_tarih]) VALUES (2, N'aysel', 12121212121, CAST(N'2028-03-22' AS Date))
INSERT [dbo].[satis] ([idsatis], [ad], [kart_numarasi], [son_tarih]) VALUES (3, N'aa', 11111111111, CAST(N'2024-05-22' AS Date))
SET IDENTITY_INSERT [dbo].[satis] OFF
GO
SET IDENTITY_INSERT [dbo].[üyeler] ON 

INSERT [dbo].[üyeler] ([idkullanici], [kullanici], [sifre]) VALUES (1, N'ays                 ', N'123                 ')
INSERT [dbo].[üyeler] ([idkullanici], [kullanici], [sifre]) VALUES (2, N'aa                  ', N'aa1                 ')
INSERT [dbo].[üyeler] ([idkullanici], [kullanici], [sifre]) VALUES (3, N'aysel               ', N'12                  ')
SET IDENTITY_INSERT [dbo].[üyeler] OFF
GO
USE [master]
GO
